<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student.height %>
</p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @student.image? %>
    <div class="thumbnail">
      <%= image_tag @student.image.url %><!-- 第一引数にURLを入れる→その画像が表示される！ -->
      <!-- <img src="xxxxxx">の"xxxxx"に@student.image.urlをぶち込んでるから画像が表示される！ -->
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
